module mtest_mod1_24 1.0;

require {
	class cl2 { p2a p2b p2c p2d p2e p2f p2g p2h p2i };
}

type t2e;
type t2f;
type t2x;

typealias t2e alias ta2e;
typealias t2f alias ta2f;

allow ta2e t2x : cl2 p2e;
allow ta2f t2x : cl2 p2f;

optional {
  require {
    type ta1a;
  }
  typealias ta1a alias ta2a;
  allow ta2a t2x : cl2 p2a;
}

optional {
  require {
    type ta1b;
  }
  typealias ta1b alias ta2b;
  allow ta2b t2x : cl2 p2b;
}

optional {
  require {
    type ta3c;
  }
  typealias ta3c alias ta2c;
  allow ta2c t2x : cl2 p2c;
}

optional {
  require {
    type ta4d;
  }
  typealias ta4d alias ta2d;
  allow ta2d t2x : cl2 p2d;
}

optional {
  require {
    type ta4g;
  }
  typealias ta4g alias ta2g;
  allow ta2g t2x : cl2 p2g;
}

optional {
  require {
    type ta3h;
  }
  typealias ta3h alias ta2h;
  allow ta2h t2x : cl2 p2h;
}
