class CLASS1
class cl1
class cl2
class cl3
class cl4
class cl5
class cl6

sid kernel

class CLASS1 { PERM1 }
class cl1 { p1 }
class cl2 { p2 }
class cl3 { p3 }
class cl4 { p4 }
class cl5 { p5 }
class cl6 { p6 }

sensitivity SENS1;
dominance { SENS1 }
level SENS1;
mlsconstrain CLASS1 { PERM1 } ((h1 dom h2) and (l1 domby h1));

attribute at1;
attribute at2;

type TYPE1;
type t1a;
type t2a;
type td1;
type td2;

typeattribute t1a at1;
typeattribute t2a at2;

optional {
  require {
    attribute at3;
  }
  typeattribute at1 at3;
}

optional {
  require {
	attribute at5;
  }
  typeattribute at1 at5;
}

allow TYPE1 self : CLASS1 PERM1;
allow td1 at1 : cl1 p1;
allow td2 at2 : cl2 p2;

role ROLE1;
role ROLE1 types TYPE1;
user USER1 roles ROLE1 level SENS1 range SENS1;
sid kernel USER1:ROLE1:TYPE1:SENS1
