module mtest_attr_mod1_01 1.0;

require {
	class cl3 { p3 };
	class cl4 { p4 };
}

attribute at3;
attribute at4;

type t3b;
type t4b;
type td3;
type td4;

typeattribute t3b at3;
typeattribute t4b at4;

optional {
  require {
    attribute at2;
  }
  typeattribute at4 at2;
}

optional {
  require {
    attribute at5;
  }
  typeattribute at3 at5;
}

allow td3 at3 : cl3 p3;
allow td4 at4 : cl4 p4;
