# Investigating whether role and type attributes are processed correctly
# when used together in "role ... types ..." statements

class CLASS1
class cl1
class cl2
class cl3

sid kernel

class CLASS1 { PERM1 }
class cl1 { p1 }
class cl2 { p2 }
class cl3 { p3 }

sensitivity SENS1;
dominance { SENS1 }
level SENS1;
mlsconstrain CLASS1 { PERM1 } ((h1 dom h2) and (l1 domby h1));

attribute at1;

type TYPE1;
type t1a;
type td1;

typeattribute t1a at1;

allow TYPE1 self : CLASS1 PERM1;
allow td1 at1 : cl1 p1;

attribute_role ar1;

role ROLE1;
role r1a;
role rn1;

roleattribute r1a ar1;

role ROLE1 types TYPE1;
role ar1 types at1;

role_transition ar1 at1 : cl1 rn1;

allow ar1 rn1;

optional {
  require {
    attribute at2;
	attribute_role ar2;
  }
  type t2a;
  typeattribute t2a at2;
  role r2a;
  roleattribute r2a ar2;
  user us2a roles ar2 level SENS1 range SENS1;
}

optional {
  require {
    attribute at3;
	attribute_role ar3;
  }
  type t3a;
  typeattribute t3a at3;
  role r3a;
  roleattribute r3a ar3;
  user us3a roles ar3 level SENS1 range SENS1;
}

optional {
  require {
    attribute at2;
	attribute_role ar2;
	type bad_tx2a;
	role bad_rx2a;
  }
  type t2ax;
  typeattribute t2ax at2;
  typeattribute bad_tx2a at2;
  role r2ax;
  roleattribute r2ax ar2;
  roleattribute bad_rx2a ar2;
  user us2ax roles ar2 level SENS1 range SENS1;
}

optional {
  require {
    attribute at3;
	attribute_role ar3;
	type bad_tx3a;
	role bad_rx3a;
  }
  type t3ax;
  typeattribute t3ax at3;
  typeattribute bad_tx3a at3;
  role r3ax;
  roleattribute r3ax ar3;
  roleattribute bad_rx3a ar3;
  user us3ax roles ar3 level SENS1 range SENS1;
}

user USER1 roles ROLE1 level SENS1 range SENS1;
user us1a roles ar1 level SENS1 range SENS1;

constrain cl1 { p1 } (r1 == ar1);

sid kernel USER1:ROLE1:TYPE1:SENS1
