module mtest_attr_mod1_03 1.0;

require {
	class cl2 { p2 };
}

attribute at2;

type t2b;
type td2;

typeattribute t2b at2;

optional {
  require {
    attribute at1;
  }
  type t1b;
  typeattribute t1b at1;
}

optional {
  require {
    attribute at3;
  }
  type t3b;
  typeattribute t3b at3;
}

allow td2 at2 : cl2 p2;

role r2b;
role rn2;

role r2b types at2;

role_transition r2b at2 : cl2 rn2;